@font-face {
	font-family: 'Miriad Pro';
	src: url('https://www.fabrikafutbolok.com/catalog/fonts/MiriadPro/fonts/Myfont.eot');
	src: local('☺'), url('https://www.fabrikafutbolok.com/catalog/fonts/MiriadPro/fonts/Myfont.woff') format('woff'), 
	url('https://www.fabrikafutbolok.com/catalog/fonts/MiriadPro/fonts/Myfont.ttf') format('truetype'), 
	url('https://www.fabrikafutbolok.com/catalog/fonts/MiriadPro/fonts/Myfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}